{% extends "orders/base.html" %}

{% block body %}
<center>
<h2>Dinner Platters</h2>
Click to add to your order:<br>
</center>

<form action="{% url 'find_dinner_platter' %}" method="post">
    {% csrf_token %}
    <select name="choice">
        {% for choice in choices %}
            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
        {% endfor %}
    </select>
    <select name="size">
        {% for size in sizes %}
            <option value="{{ size.0 }}">{{ size.1 }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Dinner Platter Type">
</form><br>


Logged in as {{ user.username }}<br>
<a href="{% url 'current_order' %}">View order</a><br>
<a href="{% url 'index' %}">Return to menu</a><br>
<a href="{% url 'logout' %}">Logout</a>


{% endblock %}
