{% extends "orders/base.html" %}

{% block body %}
<h1>Create new user</h1>
{% if message %}
  <div>
    {{ message }}
  </div>
{% endif %}
<form action="{% url 'new_eater_check' %}" method="post">
  {% csrf_token %}
  <h4>First Name</h4>
  <input name="first" type="text"/>
  <h4>Last Name</h4>
  <input name="last" type="text"/>
  <h4>Email address</h4>
  <input name="email" type="text"/>
  <h4>Username</h4>
  <input name="username" type="text"/>
  <h4>Password</h4>
  <input name="password" type="text"/>
  <input type="submit" value="Login"/>
</form>
{% endblock %}
