{% extends "orders/base.html" %}

{% block body %}
<center>
<h2>Pizza</h2>
Select your pizza type, size and toppings.  Double and triple toppings may be
chosen and toppings can be left blank if less than three are desired.  A
"Special" pizza is our daily special, and if this is selected, any other
toppings will be ignored.<br>
</center>

<form action="{% url 'get_pizza' %}" method="post">
    {% csrf_token %}
<table>
  <tbody>
    <tr>
      <td>Pizza type:</td>
      <td>
      <select name="pizza_type">
          {% for type in pizza_types %}
              <option value="{{ type.0 }}">{{ type.1 }}</option>
          {% endfor %}
      </select>
      </td>
    </tr>

    <tr>
    <td>Size:</td>
    <td>
    <select name="size">
        {% for size in sizes %}
            <option value="{{ size.0 }}">{{ size.1 }}</option>
        {% endfor %}
    </select>
    </td>
    </tr>

    <tr>
      <td>First topping:</td>
    <td>
    <select name="top1">
        <option></option>
        {% for top in toppings %}
            <option value="{{ top.0 }}">{{ top.1 }}</option>
        {% endfor %}
    </select>
    </td>
    </tr>

    <tr>
    <td>Second topping:</td>
    <td>
    <select name="top2">
      <option></option>
        {% for top in toppings %}
            <option value="{{ top.0 }}">{{ top.1 }}</option>
        {% endfor %}
    </select>
    </td>
    </tr>

    <tr>
    <td>Third topping:</td>
    <td>
    <select name="top3">
      <option></option>
        {% for top in toppings %}
            <option value="{{ top.0 }}">{{ top.1 }}</option>
        {% endfor %}
    </select>
    </td>
    </tr>

    <tr>
    <td>Special pizza</td>
    <td><input type="checkbox" name="special" value="1"></td>

    <td></td>
    <td><input type="submit" value="Choose this pizza"></td>
    </tr>

  </tbody>
</table>

</form><br>



Logged in as {{ user.username }}<br>
<a href="{% url 'current_order' %}">View order</a><br>
<a href="{% url 'index' %}">Return to menu</a><br>
<a href="{% url 'logout' %}">Logout</a>


{% endblock %}
